@import 'theme';

/*** ------------------------- *** ------------------------- *** ------------------------- *** ------------------------- ***/

/*** BASECAMP ***/
body {
    margin: 0 auto 0 auto;
    width: $layout-max;
}
.button {
    padding: 14px 41px;
    border-radius: 69px;
}


/*** HEADER ***/
.header {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 1080px;
    height: 27px;
    padding: 47px 100px 0 100px;
    &-logo {
        margin-right: 170px;
        padding-left: 21px;
    }
    &-nav {
        display: flex;
        margin-right: 510px;
        & li {
            margin-left: 60px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}


/*** MAIN ***/
main {
    margin-top: -74px;
}
.spin {
    display: none;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.spin-sx {
    width: 367px;
    padding-top: 286px;
    padding-left: 100px;
    &-text {
        margin-top: 12px;
        margin-bottom: 28px;
    }
}

.spin-dx {
    width: 813px;
    padding-top: 200px;
    padding-bottom: 10px;
    &-infernalcircle {
        width: 1177px;
        height: 1177px;
        position: absolute;
        left: 283px;
        top: -645px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        border-radius: 50%;
        overflow: hidden;
    }
    &-wheel_dish {
        position: absolute;
        top: 0px;
        left: 250px;
    }
    &-food {
        position: relative;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 168px;
    }
}

.spin-dx-wheel {
    width: 658px;
    height: 658px;
    position: relative;
    bottom: -330px;
    left: 30px;
    &_dish-0 {
        width: 97px;
        height: 658px;
        background: url("../img/food-small_0.png") no-repeat top center;
    }
    &_dish-1 {
        width: 97px;
        height: 658px;
        background: url("../img/food-small_1.png") no-repeat top center;
    }
    &_dish-2 {
        width: 97px;
        height: 658px;
        background: url("../img/food-small_2.png") no-repeat top center;
    }
    &_dish-3 {
        width: 97px;
        height: 658px;
        background: url("../img/food-small_3.png") no-repeat top center;
    }
    &_dish-4 {
        width: 97px;
        height: 658px;
        background: url("../img/food-small_4.png") no-repeat top center;
    }
    &_dish-5 {
        width: 97px;
        height: 658px;
        background: url("../img/food-small_5.png") no-repeat top center;
    }
    &_dish-6 {
        width: 97px;
        height: 658px;
        background: url("../img/food-small_6.png") no-repeat top center;
    }
    &_dish-7 {
        width: 97px;
        height: 658px;
        background: url("../img/food-small_7.png") no-repeat top center;
    }
    &_dish-8 {
        width: 97px;
        height: 658px;
        background: url("../img/food-small_8.png") no-repeat top center;
    }
    &_dish-9 {
        width: 97px;
        height: 658px;
        background: url("../img/food-small_9.png") no-repeat top center;
    }
    &_backcircle {
        width: 558px;
        height: 558px;
        border: 2px dashed red;
        border-radius: 50%;
        position: absolute;
        top: 49px;
        left: 20px;
    }
}

.spin-controls {
    width: 602px;
    display: flex;
    justify-content: space-between;
    margin: -75px auto 0 auto;
    & button {
        position: relative;
        z-index: 500;
    }
    & img {
        max-width: 40px;
        max-height: 40px;
        padding: 14px;
        border-radius: 50%;
    }
}


/*** ANIMATION ***/
.in_text {
    animation: animate-in_text .8s;
    transform-origin: top left;
}
@keyframes animate-in_text {
    0% { transform: scale(0,0); opacity: 0; }
    100% { transform: scale(1,1); opacity: 1; }
}
.out_text {
    animation: animate-out_text 1s;
    transform-origin: top left;
}
@keyframes animate-out_text {
    0% { transform: scale(1,1); opacity: 1; }
    100% { transform: scale(0,0); opacity: 0; }
}
.in_food {
    animation: animate-in_food .8s;
}
@keyframes animate-in_food {
    0% { transform: scale(0,0) rotate(-10deg); opacity: 0; }
    100% { transform: scale(1,1) rotate(0deg); opacity: 1; }
}
.out_food {
    animation: animate-out_food 1s;
}
@keyframes animate-out_food {
    0% { transform: scale(1,1) rotate(0deg); opacity: 1; }
    100% { transform: scale(0,0) rotate(10deg); opacity: 0; }
}
.circle_next {
    animation: rotate-circle_next .8s;
    transform-origin: center center;
}
@keyframes rotate-circle_next {
    0% { transform: rotate(-36deg); }
    100% { transform: rotate(0deg); }
}
.circle_prev {
    animation: rotate-circle_prev .8s;
    transform-origin: center center;
}
@keyframes rotate-circle_prev {
    0% { transform: rotate(36deg); }
    100% { transform: rotate(0deg); }
}


/*** FOOTER ***/
footer {
    padding: 80px 100px 28px 100px;
}